# Ignorar dependencias de Node.js
frontend/node_modules/
backend/node_modules/

# Archivos de entorno y configuración
frontend/.env
backend/.env

# Archivos de compilación
frontend/build/
backend/dist/

# Cachés y logs
*.log